:root{
    --text-color: #6d614d;
    --background-color: #ffffff;
    --header-color: #abc7ab;
    --tema-color-1:#9eb9b9;
    --tema-color-2:#88a18f;
    --tema-color-3:#b8cb96;
    --tema-color-4:#c9b792;
    --body-color:#fffaec;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
}

.frame{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

header{
    background-color: var(--header-color);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tema-color-1);
    font-size: 20px;
    height: 100px;
}

h1{
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
    margin: 30px 20px 0px 20px;
    font-size: 55px;
}

h2{
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 20px 15px 20px;
    font-size: 35px;
}

h3{
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
    margin: 30px 20px 10px 20px;
    font-size: 25px;
}

h4{
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    font-size: 17px;
    text-align: center;
}

p{
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 20px 20px 20px;
    font-size: 17px;
}

li{ 
    list-style: none;
}

.frame li{
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 20px 20px 40px;
    font-size: 17px;
    list-style-image: url(../img/small_plant.png);
}

h1, .indryk{
    text-align: center;
}

.indryk p{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

img{
    max-width: 100%;
    padding: 20px 20px 20px 20px;
}

.navbar{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.navmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.navlink:hover{
    border-bottom: solid var(--tema-color-2) 2px;
}

.burgermenu{
    display: none;
    cursor: pointer;
}

@media(max-width:1300px){

    .burgermenu{
        display:block;
    }

    .navbar{
        justify-content: flex-start;
    }

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: var(--text-color);
        border-radius: 500px;
    }

    .burgermenu.active .bar:nth-child(2){
        opacity: 0;
    }

    .burgermenu.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .burgermenu.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navmenu{
        position: absolute;
        width: 150px;
        left: -100%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: var(--body-color);
        text-align: start;
        transition: 0.3s;
        z-index: 2;
    }

    a{
        font-size: 20px;
    }

    .navindhold{
        margin: 16px 0;
    }

    .navmenu.active {
        left:0%;
    }

}