:root{
    --text-color: #6d614d;
    --background-color: #ffffff;
    --header-color: #abc7ab;
    --tema-color-1:#9eb9b9;
    --tema-color-2:#88a18f;
    --tema-color-3:#b8cb96;
    --tema-color-4:#c9b792;
    --body-color:#fffaec;
}

h2{
    margin: 20px 20px 15px 20px;
}

.color{
    height: 100px;
    background-color: var(--tema-color-2);
}

a{
    margin: 15px 20px 15px 20px;
}

a:hover{
    border-bottom: solid var(--tema-color-2) 2px;
}

.grid_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    contain: content;
}

@media (max-width: 700px){
    .grid_1{
        grid-template-columns: 1fr;
    }
}