:root{
    --text-color: #6d614d;
    --background-color: #ffffff;
    --header-color: #abc7ab;
    --tema-color-1:#9eb9b9;
    --tema-color-2:#88a18f;
    --tema-color-3:#b8cb96;
    --tema-color-4:#c9b792;
    --body-color:#fffaec;
}

a{
    margin: 15px 20px 15px 20px;
}

a:hover{
    border-bottom: solid var(--tema-color-2) 2px;
}

@media (max-width: 700px){
    
}

